* {
  box-sizing: border-box;
}

:root {
  --black: #161616;
  --orange: #ff8c38;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* NAV  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 110px;
  background-color: #fcf3e7;
}

.nav-header {
  color: #000000;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
}

.nav-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: right;
  color: #4d4d4d;
}

.nav-link:hover {
  text-decoration: underline;
}

/* FOOTER */

footer {
  height: 74.75px;
  background: #252525;
  color: #aaaaaa;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

/* APP GENERAL*/

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  transform: translate(1px, 1px);
}

.app-content-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff7ed;
}

.container {
  flex: 1;
}

/* HOME PAGE */

.home {
  height: calc(100vh - (74.75px + 111.62352752685547px));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("https://i.ibb.co/8sT8HF7/image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.home-detail-box {
  height: 400px;
  color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-detail-box > h2 {
  font-weight: 800;
  font-size: 40px;
}

.home-detail-box > p {
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  margin: -10px 0 30px 0;
}

.home-button,
.login-button {
  width: 100%;
  font-family: inherit;
  background: var(--orange);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  padding: 1.25rem 1.375rem;
}

/* ABOUT PAGE */

.about-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.about-details {
  padding: 4rem;
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-details > h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.about-details > p {
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.explore-vans-box {
  width: 100%;
  height: fit-content;
  background: #ffcc8d;
  border-radius: 5px;
  align-self: center;
  padding: 70px 30px;
}

.explore-vans-box > h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -20px;
  margin-bottom: 60px;
}

.about-button {
  font-weight: 700;
  color: #fff;
  background: var(--black);
  border-radius: 10px;
  font-family: inherit;
  padding: 25px 85px;
  font-size: 15.9462px;
}

/* VANS PAGE */

.vans-page {
  padding: 15px 5px;
}

.vans-page > h1 {
  text-align: left;
  font-size: 32px;
  color: var(--black);
  font-weight: 700;
}

.vans {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.van > img {
  width: 230px;
  border-radius: 5px;
}

.van > p {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--black);
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.van-price > span {
  display: block;
  font-size: 14px;
  margin-top: -10px;
  text-align: center;
}

.van-type {
  width: 85.71px;
  height: 33.89px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 20px 40px;
  font-size: 17px;
  margin-top: -35px;
  font-weight: 600;
  color: #ffead0;
}

.filters {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 20px;
}

.simple,
.simple.selected,
.filter.simple:hover {
  background-color: #e17654;
}

.rugged,
.rugged.selected,
.filter.rugged:hover {
  background-color: #115e59;
}

.luxury,
.luxury.selected,
.filter.luxury:hover {
  background-color: var(--black);
}

.clear-filters {
  text-decoration: underline;
}

.filter {
  background-color: #ffead0;
  color: #4d4d4d;
  width: 85.71px;
  height: 33.89px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 25px 65px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
}

.filter:hover,
.selected {
  color: #ffead0;
  cursor: pointer;
}

/* VAN DETAIL PAGE */

.back-button {
  margin: 20px 10px;
  font-weight: 500;
  color: #201f1d;
  font-size: 17px;
}

.back-button > a > span {
  text-decoration: underline;
}

.van-details {
  padding: 20px;
  margin-bottom: 50px;
}

.van-details > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 5px;
}

.van-type.details {
  margin-top: 30px;
}

.van-details-price {
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  color: var(--black);
  margin-top: -10px;
}

.van-details-price > span {
  font-weight: 400;
  font-size: 18px;
  line-height: 44px;
  color: var(--black);
}

.van-details-name {
  font-weight: 700;
  font-size: 32px;
}

.van-details > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  margin-top: -10px;
}

.rent-btn {
  width: 100%;
  background-color: var(--orange);
  color: #ffffff;
  border: none;
  font-family: inherit;
  margin-top: 20px;
  height: 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  border-radius: 5px;
}

/* HOST NAV */

.nav-links.host {
  display: flex;
  justify-content: flex-start;
  padding-left: 35px;
  gap: 35px;
  color: #4d4d4d;
  height: 70px;
}

.nav-link.host:hover,
.nav-link.active {
  color: var(--black);
  text-decoration: underline;
  font-weight: bold;
}

/* HOST/VANS */

.host-vans-page {
  padding: 0 25px;
}

.host-van {
  background-color: #ffffff;
  display: flex;
  gap: 20px;
  padding: 18px 24px;
  margin: 15px 0;
  border-radius: 5px;
}

.host-van > img {
  width: 140px;
}

.host-vans-heading {
  font-weight: 700;
  font-size: 32px;
  margin-top: 5px;
}

.host-van-name {
  font-weight: 600;
  font-size: 21px;
  margin-bottom: -5px;
}

/* HOST/vANS/:ID */

.host-van-details-page {
  padding: 25px;
}

.host-van-details-box {
  background-color: #fff;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-template-rows: auto;
}

.nav-links.host-van-nav {
  grid-area: 2 / 1 / auto / 3;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.host-van-details-basics {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.host-van-details-basics > h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 27px;
}

.host-van-details-box > img {
  width: 320px;
  border-radius: 5px;
  grid-area: 1 / 1 / 2 / 2;
}

.host-van-all-info {
  grid-area: 3 / 1 / 4 / 3;
  padding: auto;
}

.host-van-photos > img {
  width: 150px;
}

/* NOT FOUND */

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px;
}
.error-page-heading {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: var(--black);
}
.error-page-btn {
  padding: 20px 150px;
  background-color: var(--black);
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

/* LOADING */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN PAGE */

.login-page.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page-header {
  font-weight: 700;
  font-size: 37px;
  line-height: 24px;
  text-align: center;
  color: var(--black);
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
}

.login-form > input {
  padding: 9px 13px;
  width: 494px;
  height: 42px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #d1d5db;
  color: #4d4d4d;
}

.login-form > input[type="email"] {
  border-radius: 6px 6px 0px 0px;
  background-color: #ffffff;
  border-bottom: none;
}

.login-form > input[type="password"] {
  border-radius: 0px 0px 6px 6px;
  background-color: #ffffff;
}

.login-button {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  border: none;
  line-height: 20px;
  margin-top: 22px;
}

.login-button:disabled {
  background-color: #ff8c3897;
}

.login-page > p {
  font-size: 17px;
  font-weight: 500;
  color: var(--black);
}

.create-account {
  color: var(--orange);
  font-weight: 700;
  margin-left: 10px;
}

@media (min-width: 1000px) {
  .about-img {
    width: 100%;
    height: calc(100vh - 110px);
  }
  .van-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .rent-btn {
    width: 30%;
  }

  .host-vans {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .host-van {
    display: flex;
    flex-direction: column;
    padding: 18px;
    align-items: center;
    width: 250px;
  }

  .host-van > img {
    width: 200px;
  }

  .host-van-name {
    font-weight: 600;
    font-size: 22px;
    margin: 5px 0;
  }

  .host-van-details-box {
    width: 50%;
  }
  .error-page-btn {
    width: 450px;
  }
}
